<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.andy840119.Nendoroido" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="Nendoroido" android:icon="@drawable/icon">
		<!--https://stackoverflow.com/questions/48415727/xamarin-forms-file-provider-not-set-->
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.andy840119.Nendoroido.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>